/* Genereal */

:root {
        /* Colors */
    --bg-color: #1E1E1E;
    --accent-color: #464646;
    --accent-color2: #FFFFFF;
    --intralink-color: #DA3838;
    --interlink-color: #50EF3E;
        /* Text formating */
    --text-size: 1.05em;
    --text-size-h1: 2.5em;
    --text-size-h2: 2.21em;
    --text-size-h3: 1.92em;
    --text-size-h4: 1.63em;
    --text-size-h5: 1.34em;
    --text-size-h: 4em;
    --text-size-nav: 1.2em;

    --text-size-1100: 0.95em;
    --text-size-h1-1100: 1.95em;
    --text-size-h2-1100: 1.75em;
    --text-size-h3-1100: 1.55em;
    --text-size-h4-1100: 1.35em;
    --text-size-h5-1100: 1.15em;
    --text-size-h-1100: 3.5em;
    --text-size-nav-1100: 1.05em;

    --text-size-800: 0.87em;
    --text-size-h1-800: 1.87em;
    --text-size-h2-800: 1.67em;
    --text-size-h3-800: 1.47em;
    --text-size-h4-800: 1.27em;
    --text-size-h5-800: 1.07em;
    --text-size-h-800: 2.9em;
    --text-size-nav-800: 0.95em;

    --text-size-500: 0.77em;
    --text-size-h1-500: 1.77em;
    --text-size-h2-500: 1.57em;
    --text-size-h3-500: 1.37em;
    --text-size-h4-500: 1.17em;
    --text-size-h5-500: 0.97em;
    --text-size-h-500: 2.5em;
    --text-size-nav-500: 0.87em;

    --text-size-320: 0.68em;
    --text-size-h1-320: 1.68em;
    --text-size-h2-320: 1.48em;
    --text-size-h3-320: 1.28em;
    --text-size-h4-320: 1.08em;
    --text-size-h5-320: 0.88em;
    --text-size-h-320: 2.1em;
    --text-size-nav-320: 0.77em;

    --font-weight: 700;
    --text-color: #FFFFFF;
    --text-color2: #383838;

    
}
html {
    font-family: 'Mulish', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Body */

body {
    margin: auto;
    max-width: 1100px;
    text-align: left;
    font-size: var(--text-size);
}
article {
    margin: auto;
    padding: 20px 20px 20px 20px;
}
section {
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 20px 20px 20px 20px;
}
header {
    font-size: var(--text-size-h);
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-align: center;
    margin: auto;
    padding: 50px 50px 50px 50px;
}
footer {
    color: var(--text-color2);
    text-align: center;
    padding: 50px 50px 50px 50px;
}
p {
    line-height: 2;
    letter-spacing: 1px;
}

/* Navigation bar */

nav {
    font-size: var(--text-size-nav);
    text-align: right;
    word-spacing: 10px;
}
#navigation-bar {
    max-width: 120%;
}
#navigation-bar-title-link {
    font-size: var(--text-size-h5);
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-align: left;
}
#index-navigation-bar-content {
    font-size: var(--text-size-h5);
}

/* Links */

a {
    color: var(--intralink-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Headings */

h1 {
    font-size: var(--text-size-h1);
    font-weight: var(--font-weight);
}
h2 {
    font-size: var(--text-size-h2);
    font-weight: var(--font-weight);
}
h3 {
    font-size: var(--text-size-h3);
    font-weight: var(--font-weight);
}
h4 {
    font-size: var(--text-size-h4);
    font-weight: var(--font-weight);
}
h5 {
    font-size: var(--text-size-h5);
    font-weight: var(--font-weight);
}
h6 {
    font-size: var(--text-size);
    font-weight: var(--font-weight);
}

/* Lists */

li {
    list-style-type: disc;
    line-height: 2;
    letter-spacing: 1px; 
}
#list-list {
    list-style-type: none;
}

/* Other items */

hr {
    height: 1px;
    background-color: var(--accent-color);
    border: none;
}

/* Scaling */

@media (max-width: 1100px) {
    body h6 {
        font-size: var(--text-size-1100);
    }
    header {
        font-size: var(--text-size-h-1100);
    }
    nav {
        font-size: var(--text-size-nav-1100);
    }
    #navigation-bar-title-link #index-navigation-bar-content h5 {
        font-size: var(--text-size-h5-1100);
    }
    h1 {
        font-size: var(--text-size-h1-1100);
    }
    h2 {
        font-size: var(--text-size-h2-1100);
    }
    h3 {
        font-size: var(--text-size-h3-1100);
    }
    h4 {
        font-size: var(--text-size-h1-1100);
    }
}

@media (max-width: 800px) {
    body h6 {
        font-size: var(--text-size-800);
    }
    header {
        font-size: var(--text-size-h-800);
    }
    nav {
        font-size: var(--text-size-nav-800);
    }
    #navigation-bar-title-link #index-navigation-bar-content h5 {
        font-size: var(--text-size-h5-800);
    }
    h1 {
        font-size: var(--text-size-h1-800);
    }
    h2 {
        font-size: var(--text-size-h2-800);
    }
    h3 {
        font-size: var(--text-size-h3-800);
    }
    h4 {
        font-size: var(--text-size-h1-800);
    }
}

@media (max-width: 500px) {
    body h6 {
        font-size: var(--text-size-500);
    }
    header {
        font-size: var(--text-size-h-500);
    }
    nav {
        font-size: var(--text-size-nav-500);
    }
    #navigation-bar-title-link #index-navigation-bar-content h5 {
        font-size: var(--text-size-h5-500);
    }
    h1 {
        font-size: var(--text-size-h1-500);
    }
    h2 {
        font-size: var(--text-size-h2-500);
    }
    h3 {
        font-size: var(--text-size-h3-500);
    }
    h4 {
        font-size: var(--text-size-h1-500);
    }
}

@media (max-width: 320px) {
    @viewport {
        width: 280px;
    }
    body h6 {
        font-size: var(--text-size-320);
    }
    header {
        font-size: var(--text-size-h-320);
    }
    nav {
        font-size: var(--text-size-nav-320);
    }
    #navigation-bar-title-link #index-navigation-bar-content h5 {
        font-size: var(--text-size-h5-320);
    }
    h1 {
        font-size: var(--text-size-h1-320);
    }
    h2 {
        font-size: var(--text-size-h2-320);
    }
    h3 {
        font-size: var(--text-size-h3-320);
    }
    h4 {
        font-size: var(--text-size-h1-320);
    }
}