/* Genereal */

:root {
    --bg-color: #1E1E1E;
    --accent-color: #464646;
    --accent-color2: #FFFFFF;
    --intralink-color: #DA3838;
    --interlink-color: #50EF3E;

    --text-size: 1.05em;
    --text-size-h5: 1.34em;
    --font-weight: 700;
    --text-color: #FFFFFF;
    --text-color2: #383838; 
}
html {
    font-family: 'Mulish', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Body */

body {
    margin: auto;
    max-width: 1100px;
    text-align: left;
}
article {
    font-size: var(--text-size);
    margin: auto;
    padding: 20px 20px 20px 20px;
}
section {
    font-size: var(--text-size);
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 20px 20px 20px 20px;
}
header {
    font-size: 58px;
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-align: center;
    margin: auto;
    padding: 50px 50px 50px 50px;
}
footer {
    font-size: var(--text-size);
    color: var(--text-color2);
    text-align: center;
    padding: 50px 50px 50px 50px;
}
p {
    line-height: 2;
    letter-spacing: 1px;
}

/* Navigation bar */

nav {
    font-size: 1.2em;
    text-align: right;
    word-spacing: 10px;
}
#navigation-bar {
    max-width: 120%;
}
#navigation-bar-title-link {
    font-size: var(--text-size-h5);
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-align: left;
}
#index-navigation-bar-content {
    font-size: var(--text-size-h5);
}

/* Links */

a {
    color: var(--intralink-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Headings */

h1 {
    font-size: 2.5em;
    font-weight: var(--font-weight);
}
h2 {
    font-size: 2.21em;
    font-weight: var(--font-weight);
}
h3 {
    font-size: 1.92em;
    font-weight: var(--font-weight);
}
h4 {
    font-size: 1.63em;
    font-weight: var(--font-weight);
}
h5 {
    font-size: var(--text-size-h5);
    font-weight: var(--font-weight);
}
h6 {
    font-size: var(--text-size);
    font-weight: var(--font-weight);
}

/* Lists */

li {
    list-style-type: disc;
    line-height: 2;
    letter-spacing: 1px; 
}
#list-list {
    list-style-type: none;
}

/* Other items */

hr {
    height: 1px;
    background-color: var(--accent-color);
    border: none;
}

/* Scaling */

@media screen and (max-width: 320px){
    @viewport {
        width: 320px;
    }
}