<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        {{partial "head-meta.html" .}}
        {{partial "style-default.html" .}}
        {{partial "title.html" .}}
        {{partial "favicon.html" .}}
    </head>
    <body>
        <div id="main">
            {{partial "header.html" .}}
            <div id="content">
                <section>
                    <div id="index-section">
                        {{.Content}}
                    </div>
                    <div id="index-navigation-bar">
                        <div id="index-navigation-bar-content">
                            {{range .Site.Menus.main}}
                                <a href="{{ .URL }}">{{.Name}}</a> <br><br>
                            {{end}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {{partial "footer.html" .}}
    </body>
</html>