<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        {{partial "head-meta.html"  .}}
        {{partial "style-default.html" .}}
        {{partial "favicon.html" .}}
        {{partial "title.html" .}}
    </head>
    <body>
        {{partial "navigation-bar.html" .}}
        <div id="main">
            {{partial "header.html" .}}
            <div id="content">
                <article>
                    {{.Content}}
                </article>
            </div>
        </div>
        {{partial "footer.html" .}}
    </body>
</html>